<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	<link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Helpdesk System</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems"
				aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarItems">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ticket/export/log}" sec:authorize="hasRole('ROLE_HELPER')">Excel Export Logs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/user}" sec:authorize="hasRole('ROLE_ADMIN')">User List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/category}" sec:authorize="hasRole('ROLE_ADMIN')">Categories</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.username">User
							email</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li sec:authorize="isAuthenticated()"><a class="dropdown-item"
									th:href="@{/logout}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h1>Your Requests</h1>
			</div>
			<div class="col-md-6 d-flex align-items-md-end">
				<a class="btn btn-primary ms-auto" th:href="@{/ticket/new}" sec:authorize="hasRole('ROLE_USER')">New Request
					Ticket</a>
			</div>
		</div>

		<div th:if="${param.saved}" class="row">
			<div class="col alert alert-info mt-2">
				Request Ticket Saved
			</div>
		</div>
		<div th:if="${param.drafted}" class="row">
			<div class="col alert alert-info mt-2">
				Request Ticket Draft Saved
			</div>
		</div>
		

		<form id="searchForm" class="row my-2" sec:authorize="hasRole('ROLE_HELPER')">
			<div class="col-md-4">
				<div class="row">
					<label class="col-md-2 col-form-label" for="status">Status</label>
					<div class="col-md-10">
						<select class="form-select" id="status" name="status" th:value="${status}">
							<th:block th:each="status_map : ${statuses}">
								<option th:each="s : ${status_map}" th:text="${s.value}" th:value="${s.key}"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<label class="col-md-2 col-form-label" for="date">Date</label>
					<div class="col-md-10">
						<input class="form-control" type="date" id="date" name="date" th:value="${date}" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<a class="btn btn-secondary me-2 float-end" th:href="@{/}">Clear</a>
				<button type="button" class="btn btn-primary me-2 float-end" onclick="searchTickets()" float-end>Search</button>
				<button type="button" class="btn btn-primary me-2 float-end" onclick="exportTickets()" float-end>Export</button>
			</div>
		</form>


		<div class="row">
			<div class="col">
				<table class="table" id="dataTable">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col" sec:authorize="hasRole('ROLE_HELPER')">Requester</th>
							<th scope="col" sec:authorize="hasRole('ROLE_USER')">Helper</th>
							<th scope="col">Date Requested</th>
							<th scope="col">Main Category</th>
							<th scope="col">Sub Category</th>
							<th scope="col">Details</th>
							<th scope="col">Response From Helper</th>
							<th scope="col">Status</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket : ${tickets}">
							<th th:text="${ticket.id}" scope="row">1</th>
							<td th:text="${ticket.requester.lastName + ' ' + ticket.requester.firstName}"
								sec:authorize="hasRole('ROLE_HELPER')">Requester</td>
							<td th:text="${ticket.helper ne null} ? ${ticket.helper.lastName + ' ' + ticket.helper.firstName} : ''"
								sec:authorize="hasRole('ROLE_USER')">Helper</td>
							<td th:text="${ticket.date}">Date Requested</td>
							<td th:text="${ticket.mainCategory.name}">Main Category</td>
							<td th:text="${ticket?.subCategory?.name}">Sub Category</td>
							<td th:text="${ticket.details}">Details</td>
							<td th:text="${ticket.responseFromHelper}">Response From Helper</td>
							<td th:text="${statuses.get(ticket.status)}">Status</td>
							<td>
								<a class="btn btn-primary" th:href="@{/ticket/{id}(id=${ticket.id})}"
									th:text="${ticket.status} == 0 and ${#authorization.expression('hasRole(''ROLE_USER'')')} ? 'Edit' : 'View'"
								></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		function searchTickets() {
			$.get("/ticket/search/?" + $("#searchForm").serialize(), function (datas) {
				console.log("data", datas)
				$("#dataTable tbody").empty();
				for(data of datas) {
					$("#dataTable tbody").append(
						"<tr><th>" +
							data.id + 
						"</th><td>" +
							data.requester.lastName + " " + data.requester.firstName +
						"</td><td>" +
							data.date +
						"</td><td>" +
							data.mainCategory.name +
						"</td><td>" +
							data?.subCategory?.name +
						"</td><td>" +
							data.details +
						"</td><td>" +
							data.responseFromHelper +
						"</td><td>" +
							data.status +
						"</td><td>" +
							"<a class='btn btn-primary' href='/ticket/" + data.id +"'>View</a>" +
						"</td></tr>"
					);
				} 
			})
		}
		
		function exportTickets() {
			window.open("/ticket/export/excel/?" + $("#searchForm").serialize())
		}

	</script>
</body>

</html>